@{
    ViewData["Title"] = "Home Page";
}
<div>

    <h1 tabindex="0" class="page-title"><b><u>Top Rated image so far!</u></b></h1>

    <div class="image-container">
        <!-- src and alt attribute will be populated by index.js on page load -->
        <img tabindex="0" id="top-image" class="top-image" src="/img/Mario-run.gif" alt="">
        <table class="image-details">
            <tbody>
                <tr>
                    <td tabindex="0"><b>Author</b></td>
                    <td tabindex="0" id="author-name">TODO: Fill in author details.</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Name</b></td>
                    <td tabindex="0" id="image-name">TODO: Fill in image details.</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Licence</b></td>
                    <td tabindex="0" id="licence-info">TODO: Fill in licence details.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>