@{
    ViewData["Title"] = "Home Page";
}


<!-- Page content -->
<div>

    <h1 tabindex="0" class="page-title"><b><u>Photo Competition</u></b></h1>

    <div class="image-container">
        <!-- src and alt attribute will be populated by index.js on page load -->
        <img tabindex="0" id="main-image" class="main-image" src="/img/blissBlur.jpg" alt="Windows XP Background">
        <table class="image-details">
            <tbody>
                <tr>
                    <td tabindex="0"><b>Author</b></td>
                    <td tabindex="0" id="author-name">TODO: Fill in author details.</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Name</b></td>
                    <td tabindex="0" id="image-name">TODO: Fill in image details.</td>
                </tr>
                <tr>
                    <td tabindex="0"><b>Licence</b></td>
                    <td tabindex="0" id="licence-info">TODO: Fill in licence details.</td>
                </tr>
            </tbody>
        </table>
        <div class="voting-buttons">
            <button aria-label="I love it" class="voting-button vote-up" onclick="Upvote()">I love it</button>
            <button aria-label="I hate it" class="voting-button vote-down" onclick="Downvote()">I hate it</button>
        </div>
    </div>

</div>
