<div class="main-content">

    <h1 class="page-title">About</h1>

    <div class="about">
        <p>
            On PhotoComp, you can vote for the best photos!
            Every time you refresh the homepage a new image is sent to you to look at and vote if you like it or not!
        </p>
    </div>
</div>
